#document-page{
    .menus{
        width: 200px;
        height: calc(100vh - 60px);
        display: inline-block;
        vertical-align: top;
    }
    .content{
        width: calc(100% - 210px);
        display: inline-block;
        height: calc(100vh - 66px);
    }
}